@model tbl_org_config_details
@{
    Layout = null;
    var excludeIDs = ViewBag.excludeIDs;
}
<div class="modal-dialog">
	<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" id="dialogTitle">Add Sub Functions</h4>
	</div>
        <div class="modal-body"> 
            <form id="subFunctionForm" name="subFunctionForm" action="@Url.Action("linkSubFunction")" method="post">
                <div class="row">
                    <div class="col-md-12">
                        <input type="hidden" value="@Model.ID" name="ID" id="ID" />
                        <div class="col-md-12"><strong>Function: </strong>@Model.Name</div>
                        <hr />
                        <div class="col-md-12">  <!-- List of all checklists -->
                            <div class="col-md-12 control-label">Available Sub Functions</div>
                            <div class="col-md-12" >
                                @Html.Action("getListBoxItems", "OrgSubFunction", new { selectedItems = new List<int>(), controlName = "selectedOptions", excludeIds = excludeIDs, selectIds = "", reload = "" })
                            </div>
                        </div>
                    </div>
                </div>          
            </form>
	    </div>
        <div class="modal-footer">
	      <button type="button" class="btn gray-bg" data-dismiss="modal">Close</button>
	      <button type="button" class="btn blue-bg saveDefaultPage" data-mode="edit" data-pageid="Function@(Model.ID)" data-form="subFunctionForm">Save changes</button>
	    </div>

	</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<script type="text/javascript">
    // specialDropDown (".specialCombo")
</script>
