@using ProcessAccelerator.WebUI.Dto
@using Omu.AwesomeMvc
@model UserProfileInput
@{
    Layout = null;
}
            @Html.Action("BreadCrump", "Menu", new { id = ViewBag.FunctionID })
            <div class="row">
                <div class="col-md-8">
                    <label class="control-label col-md-2">Client :</label>
                    <div class="col-md-10">@Html.Action("getListItems","Client",new { selectedItem = 0, controlName = "ClientID", excludeIds = "", includeIds = "", reload = "reLoadOnChange" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pull-right"><a href="javascript:;" data-toggle="modal" class="btn btn-med blue-bg relativeAddNew" data-sourceid="ClientID" data-id="listing" data-source="@Url.Action("Create")">Add New</a></div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="panel colored col-md-12">
                    <div class="panel-heading green-bg">
                        <h3 class="panel-title" id="masterTitle">Users</h3>
                        <ul class="pull-right toolbar">
                            <li><a href="#" class="icon-button"><i class="icon-">&#xf059;</i></a></li>
                            <li><a href="javascript:;" class="icon-button reload-box reLoad" data-container="dataList" data-filter="ClientID" data-url="/SysUser/ReloadItems"><i class="icon-">&#xf021;</i></a></li>
                            <li><a href="#" class="icon-button mini-max"><i class="icon-">&#xf0aa;</i></a></li>
                        </ul>
                    </div>
                    <div class="panel-body" id="dataList">
                        <p> Select a client to display its users</p>
                    </div>
                </div>                
            </div>


<script>
    jsTable('processTable');
    specialDropDown(".specialCombo");

</script>


