@{
    ViewBag.Title = "Process Accelerator - Dashboard";
    Layout = "~/Views/Shared/_Dashboard_Layout.cshtml";
}

@if (@User.Identity.IsAuthenticated)
{
    @functions{
        public string GetAntiForgeryToken()
        {
            string cookieToken, formToken;
            AntiForgery.GetTokens(null, out cookieToken, out formToken);
            return cookieToken + ":" + formToken;                
        }
    }
    <input id="antiForgeryToken" type="hidden" value="@GetAntiForgeryToken()" />

    <div class="container-fluid">
        <br />			
	    <div class="page-header">
		    <h1>Dashboard 
                <div class="col-md-3 pull-right">
                    <select class="chzn-nopadd chzn-select-no-single col-md-12 changeDashboard">
                        <option value="1">Senior Management</option>
                        <option value="2" selected="selected">Middle Management</option>
                        <option value="3">Project Management</option>
                        <option value="4">Individual</option>
                    </select>
                </div>
            </h1>
	    </div>
	    <ol class="breadcrumb">
		    <li><a href="#">Home</a></li>
		    <li><a href="#">Dashboard</a></li>
		    <li class="active">Middle Management</li>
	    </ol>
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-12">
                 	    <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">Employees</h3>
                                <ul class="pull-right toolbar">
                                    <li><a href="#" class="icon-button"><i class="icon-">&#xf059;</i></a></li>
                                    <li><a href="#" class="icon-button reload-box"><i class="icon-">&#xf021;</i></a></li>
                                    <li><a href="#" class="icon-button mini-max"><i class="icon-">&#xf0aa;</i></a></li>
                                    <li><a href="#" class="icon-button close-box"><i class="icon-">&#xf057;</i></a></li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <select class="chzn-nopadd chzn-select-no-single col-md-6 changeGraph" id="optionDD">
                                        <option value="4" selected="selected">% Project Allocation</option>
                                        <option value="5">Billable to Client</option>
                                        <option value="6">Projects</option>
                                    </select>
                                    <small class="col-md-6 help-block"><i class="icon-info-sign"></i> Choose the information you want to view</small>
                                </div>
                                <div id="PieChart" style="width: 100%; height: 300px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                 	    <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">Projects</h3>
                                <ul class="pull-right toolbar">
                                    <li><a href="#" class="icon-button"><i class="icon-">&#xf059;</i></a></li>
                                    <li><a href="#" class="icon-button reload-box"><i class="icon-">&#xf021;</i></a></li>
                                    <li><a href="#" class="icon-button mini-max"><i class="icon-">&#xf0aa;</i></a></li>
                                    <li><a href="#" class="icon-button close-box"><i class="icon-">&#xf057;</i></a></li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <select class="chzn-nopadd chzn-select-no-single col-md-6 changeProjectGraph">
                                        <option value="1" selected="selected">Effort Variance</option>
                                        <option value="2".>Schedule Variance</option>
                                        <option value="3".>Defect Variance</option>
                                    </select>
                                    <small class="col-md-6 help-block"><i class="icon-info-sign"></i> Choose the information you want to view</small>
                                </div>
						        <div id="linechart" style="width: 100%; height: 300px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <br />
                 	    <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">Compliance</h3>
                                <ul class="pull-right toolbar">
                                    <li><a href="#" class="icon-button"><i class="icon-">&#xf059;</i></a></li>
                                    <li><a href="#" class="icon-button reload-box"><i class="icon-">&#xf021;</i></a></li>
                                    <li><a href="#" class="icon-button mini-max"><i class="icon-">&#xf0aa;</i></a></li>
                                    <li><a href="#" class="icon-button close-box"><i class="icon-">&#xf057;</i></a></li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div id="simplestbarchart" style="width: 100%; height: 300px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel col-md-12">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="icon-bell pull-right"></i> Reminders / Notifications</h3>
                            <ul class="pull-right toolbar">
                                <li><a href="#" class="icon-button"><i class="icon-">&#xf059;</i></a></li>
                                <li><a href="#" class="icon-button reload-box"><i class="icon-">&#xf021;</i></a></li>
                                <li><a href="#" class="icon-button mini-max"><i class="icon-">&#xf0aa;</i></a></li>
                                <li><a href="#" class="icon-button close-box"><i class="icon-">&#xf057;</i></a></li>
                            </ul>
            		    </div>
                            <div class="panel-body no-padding">
                    	        <ul class="feeds overflow-scroll visible-scroll" style="height:285px;">
                        	        <li><span class="orange-bg"><i class="icon-flag"></i></span><a href="PickupReview.html">2 Review tasks waiting for Pickup</a></li>
                                    <li><span class="blue-bg"><i class="icon-time"></i></span><a href="RecordTS.html">Timesheet Entry delayed. Due Date: 01/01/2013</a></li>
                                    <li><span class="green-bg"><i class="icon-">&#xf075;</i></span>Process Repository Revised. </li>
                                    <li><span class="black-bg"><i class="icon-bullhorn"></i></span><a href="#">40 % Effort Overrun. Click to review Tasks.</a> </li>
                                    <li><span class="black-bg"><i class="icon-bullhorn"></i></span><a href="#">50% Schedule Overun.  Click to review Tasks.</a></li>
                                    <li><span class="red-bg"><i class="icon-search"></i></span><a href="#">80% Planned Audits delayed.</a></li>
                                </ul>
                            </div>
                     </div>
                    <div class="panel col-md-12">
                        <div class="panel-heading">
                            <h3 class="panel-title">Schedule</h3>
                            <ul class="toolbar col-md-8 pull-right">
                                <li><a href="#" class="icon-button"><i class="icon-">&#xf059;</i></a></li>
                                <li><a href="#" class="icon-button reload-box"><i class="icon-">&#xf021;</i></a></li>
                                <li><a href="#" class="icon-button mini-max"><i class="icon-">&#xf0aa;</i></a></li>
                                <li><a href="#" class="icon-button close-box"><i class="icon-">&#xf057;</i></a></li>
                            </ul>
            		    </div>
                        <div class="panel-body">
                            <div  id='calendar' class="col-md-12"></div>
                        </div>
                    </div>
               </div>
            </div> 
    </div>
}
@section scripts
        {
        @Scripts.Render("~/bundles/customPA")
    <script src="~/Scripts/pa/plugins/chartjs/knockout-2.2.1.js"></script>
    <script src="~/Scripts/pa/plugins/chartjs/globalize.min.js"></script>
    <script src="~/Scripts/pa/plugins/chartjs/dx.chartjs.js"></script>
    
    <script src="~/Scripts/pa/plugins/chartjs/demos/pie/pie-charts.js"></script>
    <script src="~/Scripts/pa/plugins/chartjs/zoomingData.js"></script>
    <script src="~/Scripts/pa/plugins/chartjs/demos/advanced/advanced-charts.js"></script>
	<script src="~/Scripts/pa/plugins/chartjs/demos/line/line-charts.js"></script>
	<script src="~/Scripts/pa/plugins/chartjs/demos/bar/bar-charts.js"></script>
    <script src="~/Scripts/pa/plugins/chartjs/demos/gauges/gauges-charts.js"></script>
        }