@{
    Layout = null;
}
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="processTable">
    <thead>
        <tr>
            <th>Sequence</th>
            <th>General Task</th>
            <th>Description</th>
            <th class="hidden-xs">Visibility</th>
            <th class="docTableResult">Action</th>
        </tr>
    </thead>
    <tbody id="listing">
        @Html.Action("GetItems","GeneralTasks")
    </tbody>
</table>
